
[Hook Overrides]
# This is not our code base, so we can't claim copyright/license.
cros_license_check: false
# This code does not conform to Chromium OS style guides
blank_line_check: false
keyword_check: false
long_line_check: false
tab_check: false
stray_whitespace_check: false
signoff_check: false
